body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode {
    background-color: #1a1a1a;
    color: #f4f4f4;
}

.my_header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.5s;
}

.dark-mode .my_header {
    background-color: #111;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff9800;
}

.active-page {
    font-weight: bold;
    text-decoration: underline;
    color: #ff9800 !important;
}

#skills-page {
    text-align: center;
    padding: 2rem;
}

.skills-container {
    background: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-container h3 {
    color: #ff5722;
    margin-bottom: 1rem;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skills-list li {
    font-size: 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.skills-list li:last-child {
    border-bottom: none;
}

.dark-mode #skills-page {
    background-color: #222;
    color: #ddd;
}

.dark-mode .skills-container {
    background: #333;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.dark-mode .skills-container h3 {
    color: #ff9800;
}

.dark-mode .skills-list li {
    color: #ccc;
    border-bottom: 1px solid #555;
}

/* Footer */
footer {
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 1rem;
}
